@elabcom rc file Version 1.0
[oh]
invokeDir = /home/ord1nary/study/CPU_Project/sim
hostCommand = -lib simv.daidir/work -elab simv.daidir/kdb -simflow -top "tb " -Lf work -SNPS_ELABCOM -saveElab
simType = VCS
